<!-- views/users/show.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/show.css" />
        <title><%= selectedUser.username %>'s Pantry</title>
         
        <!-- <link rel="stylesheet" href="/public/stylesheets/show.css"> Page-specific styles -->
    </head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= selectedUser.username %>'s Pantry</h1>

    <% if (selectedUser.pantry.length > 0) { %>
        <ul>
            <% selectedUser.pantry.forEach(item => { %>
                <li><%= item.name %> - Quantity: <%= item.quantity %></li>
            <% }) %>
        </ul>
        <% } else { %>
         <p>This Pantry is Empty!</p>
    <% } %>
    
</body>
</html>